$color-base: #826349;

$color-darkest: $color-base;
$color-light: #FFF6E8;
$color-accent-bright: #CE7E2C;
$color-dark: #402E32;

$color-complementary-1: #7F9AB3;
$color-complementary-2: #FFF6E8;
$color-complementary-3: #E8F4FF;
