// color palette
@import 'colors';

@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');

html {
  width: 100%;
  height: 100%;

  background: darken($color-complementary-1, 50%);
  color: $color-light;

  * {
    font-family: 'Cabin', sans-serif;
  }

  body {
    overflow-x: hidden;
    margin: 0;
    background: none;
  }

  body,
  #app {
    min-width: 100vw;
    min-height: 100vh;
  }

  #app {
    display: flex;
    align-items: center;
    justify-content: center;

    &.custom {
      display: block;
    }
  }

  input {
    width: 100%;
  }

  button {
    color: $color-light;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;

    background: $color-complementary-1;

    &:hover {
      cursor: pointer;
      background: lighten($color-complementary-1, 3%);
    }
  }

  font-size: 12px;

  @media only screen and (min-width: 1500px) {
    font-size: 16px;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
